<div id="<%= dom_id app_link %>">
  <p>
    <strong>Name:</strong>
    <%= app_link.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= app_link.description %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= app_link.color %>
  </p>

  <p>
    <strong>Default status:</strong>
    <%= app_link.default_status %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= app_link.link %>
  </p>

</div>
